Checks:
  - "-*"
  - "bugprone-*"
  - "clang-analyzer-*"
  - "modernize-*"
  - "-modernize-use-trailing-return-type"
  - "performance-*"
  - "cppcoreguidelines-*"
  - "-cppcoreguidelines-avoid-do-while"
  - "-cppcoreguidelines-pro-type-reinterpret-cast"
  - "-cppcoreguidelines-pro-bounds-pointer-arithmetic"
  - "-cppcoreguidelines-pro-bounds-avoid-unchecked-container-access"
  - "-cppcoreguidelines-macro-usage"
  - "readability-*"
  - "-readability-identifier-length"
  - "-readability-function-cognitive-complexity"

FormatStyle: file
